@{
    ViewBag.Title = "Adrian-Gabriel Furculita";
}

<!-- Page Content -->

<div id="page-content-wrapper">

    <div class="container-fluid">
        <div id="education" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Education</h1>
                </div>
                <div class="col-sm-5">
                    <h2>Technical University of Cluj-Napoca</h2>
                    <h4>Master of Science (M.Sc.)</h4>
                    <h4>Telecommunications Engineering</h4>
                    <h4>2012 - 2014</h4>
                </div>
                <div class="col-sm-5">
                    <h2>Technical University of Cluj-Napoca</h2>
                    <h4>Bachelor of Science (B.Sc.)</h4>
                    <h4>Telecommunications Engineering and Information Technology</h4>
                    <h4>2008 - 2012</h4>
                </div>
               

            </div>
        </div>
        <div id="experience" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Experience</h1>

                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>
        </div>
        <div id="skills" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Skills</h1>

                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>
        </div>
        <div id="projects" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Projects</h1>

                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>