@{
    ViewBag.Title = "Adrian-Gabriel Furculita";
}

<!-- Page Content -->

<div id="page-content-wrapper">

    <div class="container-fluid">

        <div id="summary" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Summary</h1>
                </div>
                <div class="col-sm-12">
                    <h3>
                        Passionate and experienced full-stack software craftsman with a demonstrated history of working in the computer software industry.
                    </h3>
                    <h3>
                        Relishing the opportunity to work on challenging projects and build great software from the ground up.
                    </h3>
                    <h3>
                        Core skills revolve around robust architecture, design and development of complex projects spanning multiple business domains.
                    </h3>
                </div>
            </div>
        </div>

        <div id="education" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Education</h1>
                </div>
                <div class="col-sm-6">
                    <h2><i class="fa fa-angle-double-left"></i> Technical University of Cluj-Napoca</h2>
                    <h4>Master of Science (M.Sc.)</h4>
                    <h4>Telecommunications Engineering</h4>
                    <h4>2012 - 2014</h4>
                </div>
                <div class="col-sm-6">
                    <h2><i class="fa fa-angle-double-left"></i> Technical University of Cluj-Napoca</h2>
                    <h4>Bachelor of Science (B.Sc.)</h4>
                    <h4>Telecommunications Engineering and Information Technology</h4>
                    <h4>2008 - 2012</h4>
                </div>
            </div>
        </div>
        <div id="experience" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Experience</h1>
                </div>
                <div class="col-sm-4">
                    <h2><i class="fa fa-angle-double-left"></i> Senior software developer</h2>
                    <h4>Macadamian Technologies</h4>
                    <h4>2013 - Now</h4>
                    <div style="display:inline-block; vertical-align:top">
                        <ul class="clear-ul">
                            <li><h4><i class="fa fa-tag"></i> Architecture, design & full stack development </h4></li>
                            <li><h4><i class="fa fa-tag"></i> Scalable cloud based solutions</h4></li>
                        </ul>
                    </div>

                    <div style="display:inline-block">
                        <ul class="clear-ul">
                            <li><h4><i class="fa fa-tag"></i> Healthcare</h4></li>
                            <li><h4><i class="fa fa-tag"></i> IOT</h4></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h2><i class="fa fa-angle-double-left"></i> Software developer</h2>
                    <h4>Net Brinel</h4>
                    <h4>2012 - 2013</h4>
                    <ul class="clear-ul">
                        <li><h4><i class="fa fa-tag"></i> Full stack web development</h4></li>
                        <li><h4><i class="fa fa-tag"></i> ECommerce</h4></li>
                        <li><h4><i class="fa fa-tag"></i> ERP integrations</h4></li>

                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2><i class="fa fa-angle-double-left"></i> Laboratory technician</h2>
                    <h4>Technical University of Cluj-Napoca</h4>
                    <h4>2010 - 2012</h4>
                    <ul class="clear-ul">
                        <li><h4><i class="fa fa-tag"></i> Electronic engineering laboratory management</h4></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="skills" class="section">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Skills</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h2><i class="fa fa-angle-double-left"></i> Technologies & Platforms</h2>
                    <ul class="expertise-list list-inline">
                        <li><h4>.Net stack</h4></li>
                        <li><h4>Microsoft Azure IAAS/PAAS/SAAS</h4></li>
                        <li><h4>AWS IAAS/PAAS/SAAS</h4></li>
                        <li><h4>Node JS</h4></li>
                        <li><h4>SQL Server</h4></li>
                        <li><h4>Mongo DB</h4></li>
                        <li><h4>Cassandra</h4></li>
                        <li><h4>Raven DB</h4></li>
                        <li><h4>Redis</h4></li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <h2><i class="fa fa-angle-double-left"></i> Languages</h2>
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <h4>C# <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                            <h4>JS <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <h4>Java <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                            <h4>C++ <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i></h4>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <h4>SQL <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                            <h4>XAML <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <h4>HTML <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                            <h4>CSS <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2><i class="fa fa-angle-double-left"></i> Frameworks</h2>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <h4>ASP.NET WEB API <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                            <h4>ASP.NET MVC <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                            <h4>WPF <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <h4>Express <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                            <h4>Angular <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <h4>Bootstrap <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                            <h4>Foundation <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>