@{
    ViewBag.Title = "Adrian-Gabriel Furculita";
}

<!-- Page Content -->

<div id="page-content-wrapper">

    <div class="container-fluid">
        <div id="education" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Education</h1>
                </div>
                <div class="col-sm-5">
                    <h2><i class="fa fa-angle-double-left"></i> Technical University of Cluj-Napoca</h2>
                    <h4>Master of Science (M.Sc.)</h4>
                    <h4>Telecommunications Engineering</h4>
                    <h4>2012 - 2014</h4>
                </div>
                <div class="col-sm-5">
                    <h2><i class="fa fa-angle-double-left"></i> Technical University of Cluj-Napoca</h2>
                    <h4>Bachelor of Science (B.Sc.)</h4>
                    <h4>Telecommunications Engineering and Information Technology</h4>
                    <h4>2008 - 2012</h4>
                </div>


            </div>
        </div>
        <div id="experience" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Experience</h1>
                </div>
                <div class="col-sm-4">
                    <h2><i class="fa fa-angle-double-left"></i> Software Developer</h2>
                    <h4>Macadamian Technologies</h4>
                    <h4>2013 - Now</h4>
                    <div style="display:inline-block">
                        <ul class="clear-ul">
                            <li>Web development</li>
                            <li>Windows apps</li>
                            <li>Mobile apps</li>

                        </ul>
                    </div>
                    <div style="display:inline-block">
                        <ul>
                            <li>.Net, JS</li>
                            <li>Relational DB systems</li>
                            <li>Non Relational Db systems</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h2><i class="fa fa-angle-double-left"></i> Software Developer</h2>
                    <h4>Net Brinel</h4>
                    <h4>2012 - 2013</h4>
                    <ul class="clear-ul">
                        <li>Web development</li>
                        <li>.Net, Java, JS</li>
                        <li>Relational DB systems</li>

                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2><i class="fa fa-angle-double-left"></i> Laboratory Technician</h2>
                    <h4>Technical University of Cluj-Napoca</h4>
                    <h4>2010 - 2012</h4>
                    <ul class="clear-ul">
                        <li>Managed the Electronic Cirtuits laboratory</li>
                    </ul>
                </div>

            </div>
        </div>
        <div id="skills" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Skills</h1>

                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>
        </div>
        <div id="projects" class="section">
            <div class="row">
                <div class="col-xs-12">

                    <h1>Projects</h1>

                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>